*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.wrapper{
    width:100%;
    background-color: #141229;
}

.scroll-to-top{
    background-color: transparent;
    position: fixed;
    opacity: 0.8;
    bottom:2%;
    right:1%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
    width:30px;
    cursor: pointer;
    display: none;
}

.fa-angle-up{
    font-size: 2em;
    color:#1dcdd6;
}
.section1{
    height:100vh;
    width:100%;
}

.background-image{
    height:100vh;
    width:100%;
    background: url("./images/bg.jpg") center center/cover;
    position: absolute;
    background-position: center 5%;
}

.background-overlay{
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.4);
    
}
header{
    position: fixed;
    background-color: #141229;
    height:13vh;
    width:100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.burger{
    height:30px;
    width:35px;
    cursor: pointer;
    display: none;
}

.layer1,.layer2,.layer3{
    height: 3px;
    border-radius: 2px;
    width:100%;
    margin-top: 5px;
    background-color: white;
}


.heading{
    color:white;
    text-align: center;
    height:30vh;
    position: absolute;
    z-index: 0;
    top:50%;
    left:10%;
    transform: translate(-10%,-50%);
}

.sidebar{
    height:100vh;
    width:300px;
    position: fixed;
    right:-100%;
    top:0;
    background-color: #141229;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999;
    transition: all 0.5s ease;
    display: none;
}

.sidebar .list{
    flex-direction: column;
    height:70%;

}

.sidebar .fa{
    color:rgba(255, 255, 255, 0.89);
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top:4%;
    left:5%;
}




.logo{
    height: 100%;
    width:200px;
    display: flex;
    align-items: center;
}

.logo img{
    height:50px;
    width:50px;
}

.logo-name{
    color:white;
    font-size: 1.5em;
}

.menubar{
    width:50%;
    height: 100%;
}

.list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-items a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.list-items a:hover{
    color:#1bc2ca;
}

.btn{
    padding: 0.5em 1em;
    border:1px solid #1bc2ca;
    border-radius: 7px;
    color:#1bc2ca;
    font-weight: bold;
    font-family: sans-serif;
}

.btn:hover{
    background-color: #1bc2ca;
    color:white;
}


.heading h1{
    font-weight: normal;
    margin:1em 0;
    font-family: Verdana;
    font-size: 2.5em;
}
.heading h2{
    font-size: 1.4em;
    margin:0 0 2em 0;
}

.heading .btn{
    padding: 1em 3em;
    background-color: rgba(0,0,0,0.3);
}
.heading .btn:hover{
    background-color:#1bc2ca;
    opacity: 0.9;
}


.section2{
    height:auto;
    width:100%;
}

.all-cards{
    width:80%;
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4em 0;
}

.all-cards h1{
    color:white;
    font-family: verdana;
    margin:1em 0;
    font-size: 2.5em;
}

.card{
    height:80vh;
    display: flex;
    justify-content: flex-start;
    margin-top:4em;
}

.text-card{
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    text-align: left;
    width:50%;
    background-color: #2b2750;
    padding: 4em;
}

.text-card h2{
    color:#1bc2ca;
    font-size: 2.5em;
    margin:0.7em 0;
    font-family: sans-serif;
}
.text-card h3{
    color:white;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 0 0.7em 0;
}
.text-card p{
    color:white;
    font-size: 1.1em;

}

.text-card .btn{
    font-size: small;
    margin:2.7em 0;
    padding: 1.3em 2.5em;
    cursor: pointer;
    background-color: transparent;
    border:2px solid #1bc2ca;
    transition: 0.5s;
}

.text-card .btn:hover{
    background-color: #1bc2ca;
    color:white;
}

.img-card{
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    width:50%;
    background: url("./images/witcher.jpg") no-repeat ;
    background-position: 90%;
    background-size: cover;
}
.pubg{
    background: url("./images/pubg.jpg") no-repeat ;
    background-size: cover;
    background-position: 70%;
}

.cod{
    background: url("./images/cod.jpg") no-repeat center center/cover;
} 

 .gta{
    background: url("./images/gta5.jpg") no-repeat center center/cover;
}

.pubg,.gta{
    border-radius: 0;
    border-top-left-radius:5%;
    border-bottom-left-radius:5%;
}

.pubg-text,.gta-text{
    border-radius: 0;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
}

.section3{
    width:100%;
    height: auto;
}

.sec3-container{
    width:80%;
    margin: 0 auto;
    padding:2em;
    display: flex;
}

.news{
    width:50%;
    padding:1em;
}

.firstlayer{
    display: flex;
    margin-bottom:.5em;
    justify-content: space-between;
}
.firstlayer h3{
    color:#049ba3;
}

.title{
    margin-bottom:.9em;
}
.title h2{
    color:white;
    font-size: 1.5em;
    font-family: sans-serif;
}

.para p{
    color:rgba(255,255,255,0.9);
    font-family: verdna;
    font-size: 1.1em;
}

.bars{
    width:50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block .h{
    display: flex;
    justify-content: space-between;
}

.h h3{
    color:#049ba3;
    text-transform: capitalize;
    margin-bottom:5px;
}

.h h3:first-child{
    color:white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.loader{
    height:7px;
    width:100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.loader-width{
    height:100%;
    border-radius: 5px;
    background-color: #5e49d5;
    position: absolute;
    width: 35%;
}

.team-work .loader .loader-width{
    width:56%;
}
.skills .loader .loader-width{
    width:65%;
}
.attention .loader .loader-width{
    width:100%;
    background-color: #1bc2ca;
}
.strategy .loader .loader-width{
    width:15% ;
}

.section4{
    padding: 10em 0;
}

.sec4-cards{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.sec4-card{
    padding: 1em;
    text-align: center;
    background-color: #2b2750;
    height:9em;
    width:22%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    color: white;
    transition: 0.5s;
}

.sec4-card:hover{
    transform:translateY(-20px);
}

.sec4-cards h2{
    font-size: 1.1em;
}

.sec4-card:hover > h2{
    color:#1bc2ca;
}

.section5{
    padding: 5em 0;
    text-align: center;
}

.section5 h1{
    font-size: 2.5em;
    color: white;
    font-family: sans-serif;
    margin-bottom: 1em;
}

.form-container{
    width:60%;
    border-radius: 15px;
    background-color: #25214dab;
    margin:0 auto;
    padding: 2em;
}

.firstname,.email{
    height:50px;
    width:40%;
    border: 0;
    background-color: #18143f;
    font-size: 1.4em;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;

}
.firstname{
    margin-right:20px;
}

.message{
    width:80%;
    border: 0;
    height:200px;
    background-color: #18143f;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}

.form-container .btn{
    padding: 1em 3em;
    background-color: #2b2750;
    cursor: pointer;
    outline: none;
}
.form-container .btn:hover{
    background-color: #1e1b3d;
}

input:hover{
    border:1px solid #049ba3;
}
textarea:hover{
    border:1px solid #049ba3;
}


@media screen and (max-width:900px){
    .menubar{
        display: none;
    }
    .sidebar{
        display: flex;
    }
    .burger{
        display: block;
    }

    .text-card{
        padding: 2em;
    }

    .bars{
        justify-content: space-around;
    }

    .sec3-container{
        width:90%;
    }
}

@media screen and (max-width:780px){

    .all-cards{
        width:70%;
    }
    .card{
        height:120vh;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }
    .card .text-card{
        width:100%;
        height:60%;
        border-radius: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    .card .img-card{
        width:100%;
        border-top-left-radius: 5% !important;
        border-top-right-radius: 5% !important;
        background-position: 80%;
        border-radius: 0px;
        height:40%;
    }

    .card .pubg-text, .card .gta-text{
        border-radius: 0;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }

    .card .pubg,.card .gta{
        border-radius: 0 !important;
        border-bottom-left-radius: 5% !important;
        border-bottom-right-radius: 5% !important;
    }

    .section3{
        
    }
    .sec3-container{
        flex-direction: column;
        justify-content: space-between;
        
    }

    .news{
        height:auto;
    }
    .bars{
        justify-content: space-between;
        height:60vh;
    }
    .news ,.bars{
        width:100%;
    }

    .sec4-cards{
        flex-direction: column;
        height:150vh;
        justify-content: space-between;
    }

    .sec4-card{
        width:70%;
        margin:0 auto;
        border-radius: 10px;
    }

    .form-container{
        width:80%;
    }

    .section4{
        padding: 5em 0;
    }
}

@media screen and (max-width:480px){
    .logo{
        width:250px;
    }
    .scroll-to-top{
        position: fixed;
        display: flex;
        top:88vh;
        right:2%;
    }
    .sidebar{
        right:-100%;
        width:100%;
    }
    .heading h1{
        font-size: 1.5em;
    }
    .all-cards{
        padding: 1em 0;
        width: 90%;
    }
    .card{
        margin-top:2em;
    }
    .all-cards h1{
        font-size: 1.5em;
    }

    .form-container{
        width:90%;
        padding: 1em;
    }
    .sec4-cards{
        height:120vh;
    }
    .sec4-card{
        margin:0 2em;
    }
    .section4{
        padding: 3em 0;
    }
    .section5 h1{
        font-size: 1.5em;
    }
    .firstname,.email{
        font-size: 1em;
    }

    .message{
        height:150px;
    }
}

@media screen and (max-width:400px){

    .heading .btn{
        font-size: 0.8em;
        padding: 1em 2em;
    }

    .card{
        margin-top:0;
    }
    .all-cards{
        padding-bottom: 0;
    }
    .card .text-card{
        height:unset;
    }
    .text-card h2{
        font-size: 2em;
    }
    .text-card h3{
        font-size: 1em;
    }
    .text-card p{
        font-size: 1em;
    }
    .text-card .btn{
        margin:1.5em 0;
        padding: 1.2em 2em;
    }
    .sec3-container{
        width:95%;
        padding: 1em;
    }
    .news{
        padding: 0.5em;
        margin-bottom: 1em;
    }
    .paar p{
        font-size: 1em;
    }
    .bars{
        padding: 0.5em;
    }
    .sec4-cards{
        height:120vh;
    }
    .sec4-card{
        margin:0 2em;
    }
    .section4{
        padding: 3em 0;
    }

    .firstname,.email{
        font-size: 0.9em;
    }
    .message{
        font-size: 1.1em;
        height:100px;
    }

}